@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Montserrat:wght@400;600&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  background: linear-gradient(to right, #ff9966, #ff5e62);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.App {
  text-align: center;
  background: rgba(255, 255, 255, 0.1);
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  max-width: 500px;
  width: 90%;
  max-height: 550px;
}

h1 {
  font-family: 'Fredoka One', cursive;
  font-size: 2.5rem;
  margin: -10px 0 20px 0;
  color: #fff;
}

.inp {
  width: 95%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 10px;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.suggestions {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.suggestion-btn {
  background-color: #fff;
  color: #ff5e62;
  border: none;
  border-radius: 10px;
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
}

.suggestion-btn:hover {
  background-color: #ff9966;
  color: #fff;
}

.btn {
  width: 100%;
  padding: 12px;
  margin-top: 20px;
  border: none;
  border-radius: 10px;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  color: #ff5e62;
  background-color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #ff9966;
  color: #fff;
}

hr {
  margin: 20px 0;
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.error-message {
  color: white;
  background-color: rgba(87, 82, 82, 0.1);
  border: 1px solid #544d4d;
  border-radius: 10px;
  padding: 10px;
  margin: 20px 0;
  font-family: 'Montserrat', sans-serif;
}

pre {
  text-align: left;
  white-space: pre-wrap;
  word-wrap: break-word;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  max-height: 170px;
  overflow-y: auto;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
}
